<include file="./Application/Admin/View/Public/news_top.html" />
<div class="row">
    <div class="col-lg-12">
        <h1>新闻列表 <small>新闻管理总览</small></h1>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                <tr>
                    <th>字段 </th>
                    <th>内容  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>新闻名</td>
                    <td>{$data[0]['news_categroy']}</td>
                </tr>
                <tr>
                    <td>新闻作者</td>
                    <td>{$data[0]['news_admin']}</td>
                </tr>
                <tr>
                    <td>新闻最后更新时间</td>
                    <td>{$data[0]['news_time']|date="Y-m-d H:i:s",###}</td>
                </tr>
                <tr>
                    <td>新闻展示主图</td>
                    <td><img src="__PUBLIC__{$data[0]['news_img']}" style="max-height: 200px"></td>
                </tr>
                <tr>
                    <td>用户点击次数</td>
                    <td>{$data[0]['news_hits']}</td>
                </tr>
                <tr>
                    <td>展示状态</td>
                    <if condition="$data[0]['is_show'] eq 1">
                        <td style="background-color: #b16549">展示中</td>
                        <else/>
                        <td>不显示</td>
                    </if>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h1>新闻详情 <small>以下是新闻详情</small></h1>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        {$data[0]['news_content']}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a href="{:U('Admin/Index/edit_news','','')}/id/{$data[0]['news_id']}" class="btn btn-default">修改</a>
        <button this-id="{$data[0]['news_id']}" onclick="ask_delete(this)" class="btn btn-danger">删除</button>
        <if condition="$data[0]['is_show'] eq 1">
            <a href="{:U('Admin/Public/xiajia','','')}/table/tb_news/pk/news_id/id/{$data[0]['news_id']}" class="btn btn-danger">隐藏</a>
            <else/>
            <a href="{:U('Admin/Public/shangjia','','')}/table/tb_news/pk/news_id/id/{$data[0]['news_id']}" class="btn btn-default">展示</a>
        </if>

    </div>
</div>
<script language="JavaScript">
    function ask_delete(e){
        if(confirm("是否要删除该条新闻？")){
            window.location.href="{:U('Admin/Public/del','','')}/table/tb_news/pk/news_id/id/"+$(e).attr("this-id");

        }
    }
</script>
