<include file="./Application/Admin/View/Public/zhuanti_top.html" />
<div class="row">
    <div class="col-lg-12">
        <h1>专题列表 <small>专题管理总览</small></h1>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                <tr>
                    <th>字段 </th>
                    <th>内容  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>专题名</td>
                    <td>{$data[0]['activety_name']}</td>
                </tr>
                <tr>
                    <td>面向人群</td>
                    <td>{$data[0]['activety_crowd']}</td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td>{$data[0]['activety_start_time']|date="Y-m-d",###}</td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td>{$data[0]['activety_end_time']|date="Y-m-d",###}</td>
                </tr>
                <tr>
                    <td>发布人</td>
                    <td>{$data[0]['activety_admin']}</td>
                </tr>
                <tr>
                    <td>展示状态</td>
                    <if condition="$data[0]['is_show'] eq 1">
                        <td style="background-color: #b16549">展示中</td>
                        <else/>
                        <td>不显示</td>
                    </if>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h1>专题详情 <small>以下是专题详情</small></h1>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        {$data[0]['activety_content']}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a href="{:U('Admin/Index/edit_zhuanti','','')}/id/{$data[0]['activety_id']}" class="btn btn-default">修改</a>
        <button this-id="{$data[0]['activety_id']}" onclick="ask_delete(this)" class="btn btn-danger">删除</button>
        <if condition="$data[0]['is_show'] eq 1">
            <a href="{:U('Admin/Public/xiajia','','')}/table/tb_activety/pk/activety_id/id/{$data[0]['activety_id']}" class="btn btn-danger">隐藏</a>
            <else/>
            <a href="{:U('Admin/Public/shangjia','','')}/table/tb_activety/pk/activety_id/id/{$data[0]['activety_id']}" class="btn btn-default">展示</a>
        </if>
    </div>
</div>
<script language="JavaScript">
    function ask_delete(e){
        if(confirm("是否要删除该条专题？")){
           window.location.href="{:U('Admin/Public/del','','')}/table/tb_activety/pk/activety_id/id/"+$(e).attr("this-id");
        }
    }
</script>
