<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li>
                <a href="{:U('Admin/Index/index','','html')}">首页</a>
            </li>
            <li>
                <a href="{:U('Admin/Index/comment_','','')}">简介管理首页</a>
            </li>
            <!--<li>-->
                <!--<a href="{$U['news_list']}">简介列表</a>-->
            <!--</li>-->
            <li>
                <a href="{:U('Admin/Index/add_jianjie','','')}">发布简介</a>
            </li>
        </ul>
    </div>
</div>