<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <li>
                <a href="{:U('Admin/Index/index','','')}">首页</a>
            </li>
            <li>
                <a href="{:U('Admin/Index/news_','','')}">新闻管理首页</a>
            </li>
            <!--<li>-->
                <!--<a href="{$U['news_list']}">新闻列表</a>-->
            <!--</li>-->
            <li>
                <a href="{:U('Admin/Index/add_news','','')}">发布新闻</a>
            </li>
        </ul>
    </div>
</div>