<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统 V1.0</title>
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/Home/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="__PUBLIC__/Home/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/morris-0.4.3.min.css">
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">优大新渝 后台管理系统 V1.0</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="index.html"><i class="fa fa-home"></i> 后台主页</a></li>
                <if condition="($id eq 'SA') OR ($id eq 'PA')">
                    <li><a href="{:U('Admin/Index/index_img','','html')}"><i class="fa fa-dashboard"></i> 首页大图管理</a></li>
                    <li><a href="{:U('Admin/Index/user_','','html')}"><i class="fa fa-user "></i> 添加管理员</a></li>
                    <li><a href="{:U('Admin/Index/seo','','html')}"><i class="fa fa-bar-chart-o"></i> 页面信息管理</a></li>
                    <li><a href="{:U('Admin/Index/news_','','html')}"><i class="fa fa-gavel"></i> 新闻管理</a></li>
                    <li><a href="{:U('Admin/Index/comment_','','html')}"><i class="fa fa-table"></i> 简介管理</a></li>
                    <li><a href="{:U('Admin/Index/zhuanti','','html')}"><i class="fa fa-edit"></i> 活动管理</a></li>
                    <li><a href="{:U('Admin/Index/menu','','html')}"><i class="fa fa-font"></i> 课程管理</a></li>
                    <li><a href="{:U('Admin/Index/area_','','html')}"><i class="fa fa-desktop"></i> 教师风采管理</a></li>
                    <li><a href="{:U('Admin/Index/jitang','','html')}"><i class="fa fa-wrench"></i> 案例管理</a></li>
                    <li><a href="{:U('Admin/Index/kefu_','','html')}"><i class="fa fa-tags"></i> 客服管理</a></li>
                </if>
                <li><a href="{:U('Admin/Index/order_','','html')}"><i class="fa fa-group"></i> 预订人员管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">

                <!--<li class="dropdown alerts-dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> 提醒 <span class="badge">3</span> <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Default <span class="label label-default">Default</span></a></li>-->
                        <!--<li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>-->
                        <!--<li><a href="#">Success <span class="label label-success">Success</span></a></li>-->
                        <!--<li><a href="#">Info <span class="label label-info">Info</span></a></li>-->
                        <!--<li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>-->
                        <!--<li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">View All</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{$da[0]['admin_name']}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>-->
                        <li><a href="{:U('Admin/Index/edit_user','','')}"><i class="fa fa-gear"></i> 更改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="{:U('Admin/Public/logout','','')}"><i class="fa fa-power-off"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
              {__CONTENT__}
    </div>
</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="__PUBLIC__/Home/js/jquery-1.10.2.js"></script>
<script src="__PUBLIC__/Home/js/bootstrap.js"></script>

<!-- Page Specific Plugins -->
<script src="__PUBLIC__/Home/js/raphael-min.js"></script>
<script src="__PUBLIC__/Home/js/morris-0.4.3.min.js"></script>
<script src="__PUBLIC__/Home/js/morris/chart-data-morris.js"></script>
<script src="__PUBLIC__/Home/js/tablesorter/jquery.tablesorter.js"></script>
<script src="__PUBLIC__/Home/js/tablesorter/tables.js"></script>

</body>
</html>
